@import '_theme/theme';


@mixin pretty-center() {
    padding: 7rem 10rem;

    max-width: 62vw;
    margin: 0 auto;
}

.section {
    min-height: 85vh;
}

.header {
    background-color: $dark-1;
    padding: 1rem 4rem;
    display: flex;
    align-items: center;

    .logo {
        height: 5.5rem;
        width: 5.5rem;
    }
}

.nav {
    margin-left: 8rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    &-item,
    &-item:link,
    &-item:visited {
        text-decoration: none;
        color: $primary;

        padding: .1rem .5rem;
        border: .1em solid transparent;

        color: $accent;
        border-color: currentColor;
    }
}

.hero {
    background-color: $dark-2;
}

.about {
    .player {
        height: 3.5rem;
        background-color: $dark-2;
    }

    &-content {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &-info {
        @include pretty-center();

        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &-text {
        max-width: 30rem;
        line-height: 1.8;
        font-size: 1.2rem;

        padding-right: 4rem;

        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 2rem;
    }

    &-more {
        padding: .9rem 3rem;
        background-color: $accent;

        border-radius: .2rem;
    }

    &-img {
        display: flex;
        align-items: center;
        margin-left: auto;


        .music {
            margin-right: -7.5rem;
            position: relative;
            z-index: 2;
            height: 20rem;
            width: 20rem;
        }

        .ceo {
            height: 35rem;
            width: 25rem;
        }
    }

    .cta {
        background-color: $dark-2;
        color: $white;
        font-weight: bold;
        font-size: 1.2rem;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        padding: 3rem 2.5rem;
        border-radius: 1rem;


        &-text {
            max-width: 40rem;
            line-height: 1.4;
        }
    }
}

.artists {

    background-color: $dark-2;
    color: $white;

    &-content {
        @include pretty-center();
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    &-featured {
        display: flex;
        justify-content: space-between;
    }

    .artist {
        &-social {
            background-color: $dark-1;
        }

        &-avatar {
            width: 22.3rem;
            height: 23rem;
        }

        &-smedia {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;

            color: rgba($white, .5);
        }

        &-name {
            font-weight: bold;
            margin: 1rem 0 .7rem;
        }

        &-bio {
            opacity: .6;
            font-size: .8rem;
        }
    }
}

.lnk-more {
    border-bottom: 1px solid $secondary;
    width: fit-content;
    padding-bottom: .5rem;

    opacity: .5;
    transition: all .5s;
    transform: scale(.8);

    &:hover {
        opacity: 1;
        transform: scale(1);
    }
}

h2 {
    font-size: 2.4rem;
    font-weight: 800;
    // line-height: .652rem;
}

h3 {
    font-size: 2rem;
}

.btn {
    width: fit-content;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 1.1rem;
}

.btn-accent-secondary {
    color: $white;
    font-weight: bold;
    font-size: 1.3rem;
    background-image: linear-gradient(to right, $accent, $secondary);
}

.btn-rounded {
    padding: 1rem 3rem;
    border-radius: 500rem;
}

.white {
    color: $white;
}

.accent {
    color: $accent;
}

a:link, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}